:root {
	/* SIZING */
	--max-width: 800px;
	--avatar-size: 24px;

	/* SPACING */
	--spacing-sm: 4px;
	--spacing: 8px;
	--spacing-lg: 12px;
	--spacing-xxl: 18px;

	--page-round: 20px;

	/* FONT */
	--font-size: 1rem;
	--font-headline: 2rem;

	/* COLOR */
	--color-body-background: black;

	--color-primary: rgb(30, 30, 30);
	--color-secondary: rgb(100, 0, 100);

	--color-gray: rgb(150, 150, 150);
}
